<!DOCTYPE html>
<html>
    <head>
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/index.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>lorem ipsum</title>
    </head>
    <body>
        <h1>Lorem ipsum</h1>
       <div>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sapien risus, ornare in ligula eu, lobortis placerat ligula. Aliquam et orci lacus. Suspendisse vehicula tempus venenatis. Vivamus sit amet est condimentum, volutpat nisi id, tincidunt libero. Vivamus quis tortor et nisl ultrices sagittis. Donec bibendum tincidunt urna ut porta. Donec vel tortor vehicula, porta metus vitae, pharetra neque. Cras bibendum ut diam vel laoreet. Aliquam hendrerit metus ac consectetur laoreet. Nulla vitae vulputate mi. Cras hendrerit, erat id porttitor euismod, velit est volutpat magna, sit amet luctus dui nisi at tortor. Sed porta justo ac lectus rhoncus, eget ultricies ex volutpat.

        Mauris feugiat volutpat erat. Sed ex dolor, vestibulum ut ornare quis, pretium et massa. Morbi fermentum turpis eget urna ornare aliquet. Maecenas semper ultrices maximus. Aenean quis dui vel metus consequat tincidunt. Sed egestas iaculis consectetur. Pellentesque a lacus quis lorem tempor efficitur. Quisque eget leo nec nunc ullamcorper pellentesque. Pellentesque in mattis erat, in dignissim lorem. Curabitur placerat, orci eu mattis gravida, tellus mi rutrum urna, eu feugiat ipsum lacus in sapien. Quisque ut ultrices sapien, at gravida dui. Pellentesque egestas mi est, id accumsan urna cursus eu. Nam sollicitudin turpis nec nisl rutrum venenatis. Fusce venenatis fringilla faucibus.
           </p>
            <img src="/static/flask.jpeg" alt="flasky" class="center">
       </div>
    </body>
</html>
